body
{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;

    margin: 0;
}

*,
*:before,
*:after
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
            box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0;
}

section,
footer
{
    margin-top: 80px;
}



/* HEADER */
.header
{
    position: absolute;
    z-index: 10000;
    top: 0;
    right: 0;
    left: 0;

    width: 100%;
    padding-top: 30px;
}

.header-logo
{
    font-size: 30px;
    font-weight: bold;

    color: #fff;
}

.header-inner
{
    display: flex;

    justify-content: space-between;
    align-items: center;
}

/* NAV */
nav
{
    font-size: 14px;

    display: flex;

    width: 100%;
    max-width: 550px;

    text-transform: uppercase;

    justify-content: space-around;
}

.link-text
{
    position: relative;

    transition: color .1s linear, fill .1s linear;
    vertical-align: top;
    text-decoration: none;

    color: #fff;

    fill: #fff;
    font-size: 15px;
}

.link-text:hover
{
    color: #fce38a;

    fill: #fce38a;
}

.link-text:after
{
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;

    display: block;

    width: 100%;
    height: 3px;

    content: '';
    transition: opacity .1s linear;

    opacity: 0;
    background-color: #fce38a;
}

.link-text:hover:after
{
    opacity: 1;
}

/* CONTAINER */
.container
{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* INTRO */
.intro
{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    background: url('../images/Background-intro.jpg') center no-repeat;
    -webkit-background-size: cover;
            background-size: cover;

    justify-content: center;
}

.intro-title
{
    font-size: 8vw;
    font-weight: 700;
    line-height: 140px;
    line-height: 1;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
}

.intro-title:after
{
    display: block;

    width: 60px;
    height: 3px;
    margin: 5vh auto 5vh auto;

    content: '';

    background-color: #fff;
}

.intro-inner
{
    width: 100%;
    max-width: 880px;
    margin: 50px auto 50px auto;

    text-align: center;
    vertical-align: top;
}

.intro-suptitle
{
    font-family: 'Kaushan Script', cursive;
    font-size: 5vw;
    font-weight: 400;

    margin-top: 80px;

    color: #fff;
}

/* BUTTON */
.btn
{
    font-size: 1.3vw;

    display: inline-block;

    margin-bottom: 60px;
    padding: 13px 30px;

    transition: background .1s linear, color .1s linear;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border: 3px solid #fff;
}

.btn:hover
{
    color: #000;
    background-color: #fff;
}

/* SLIDER */
.slider
{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;

    width: 100%;
}

.slider-inner
{
    display: flex;

    justify-content: space-between;
}

.slider-item
{
    font-size: 1.2vw;

    position: relative;

    width: 22%;
    margin-bottom: 10px;
    padding-top: 15px;

    transition: color .1s linear, border .1s linear;

    opacity: .7;
    color: #fff;
    border-top: 3px solid #fff;
}

.slider-item.active:before
{
    position: absolute;
    z-index: 1;
    top: -3px;
    left: 0;

    display: block;

    width: 30%;
    height: 3px;

    content: '';

    background-color: #f38181;
}

.slider-item:hover
{
    cursor: pointer;

    color: #f38181;
    border-top: 3px solid #f38181;
}

.slider-item b
{
    font-size: 1.4vw;

    margin-right: 3px;
}

/* SECTION HEADER */
.story
{
    margin-bottom: 110px;
}

.section-header
{
    width: 85%;
    margin: 0 auto 100px auto;

    text-align: center;
}

.section-header h3
{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
}

.section-header h2
{
    font-size: 30px;

    text-transform: uppercase;
}

.section-header p
{
    margin: 0;

    color: #999;
    font-family: Roboto, sans-serif;

}

.section-header h2:after
{
    display: block;

    width: 60px;
    height: 3px;
    margin: 30px auto 30px auto;

    content: '';

    background-color: #f38181;
}

/* ABOUT */
.about-item
{
    position: relative;

    background-color: #95e1d3;
    ;
}

.about
{
    display: flex;

    justify-content: space-between;
}

.about-img img
{
    display: block;

    transition: opacity .2s linear;
}

.about-item:hover .about-img img
{
    opacity: .1;
}

.about-item:hover .about-img
{
    transform: translate3d(-10px, -10px, 0);
}

.about-img
{
    transition: transform .2s linear;

    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.about-text
{
    font-size: 18px;
    font-weight: bold;

    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;

    width: 100%;

    transition: opacity .1s linear;
    transform: translate3d(0, -50%, 0);
    text-align: center;
    text-transform: uppercase;

    opacity: 0;
    color: #fff;
}

.about-item:hover .about-text
{
    opacity: 1;
}

/* STAT */
.stat
{
    width: 100%;

    background-color: #95e1d3;
}

.stat-list
{
    display: flex;
}

.stat-item
{
    text-align: center;

    color: #fff;
    border-left: 1px solid #b5eae0;

    flex: 1 1 0;
}

.stat-item:last-child
{
    border-right: 1px solid #b5eae0;
}

.stat-info
{
    margin: 12vh 0;

    text-transform: uppercase;
}

.stat-info b
{
    font-size: 72px;
}

/* AMAZING SERVICES */
.services
{
    display: flex;

    justify-content: space-around;
}

.service-content
{
    position: relative;

    width: 30%;
    height: 100px;
    padding-left: 55px;

    color: #b3b3b3;
    font-family: 'Roboto', sans-serif;
}


.service-content svg
{
    position: absolute;
    top: 5px;
    left: 0;
}

.service-content b
{
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

.line
{
    width: 100%;
    height: 1px;
    margin: 50px 0;

    background-color: #e5e5e5;
}

/* UNIQUE DESIGN */
.section-devices
{
    background: url('../images/Background-2.jpg') center no-repeat;
    background-size: cover;
}
.devices-item
{
    line-height: 0;

    display: block;
}

.header-devices
{
    margin-bottom: 0;
    padding-top: 100px;
}

.devices
{
    position: relative;

    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.phone-item
{
    position: absolute;
    right: 0;
    bottom: -70px;
}

/* WE_DO */
.we-do
{
    display: flex;
}

.we-do-item
{
    width: 50%;
}

.accordion-header
{
    position: relative;

    border-bottom: 1px solid transparent;
}

.accordion-item.active .accordion-header
{
    border-bottom: 1px solid #e5e5e5;
}

.accordion-header p
{
    font-size: 14px;

    display: inline-block;

    padding-left: 60px;

    text-transform: uppercase;
}

/* КРУТАЯ ФИЧА, СТРЕЛКА С ПОМОЩЬЮ BORDER */
.accordion-header:after
{
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 20px;

    display: block;

    width: 16px;
    height: 16px;
    margin-bottom: 5px;

    content: '';
    transform: translateY(-50%) rotate(135deg);

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
}

.accordion-item.active .accordion-header:after
{
    margin-top: 5px;

    transform: translateY(-50%) rotate(-45deg);
}

.accordion-header svg
{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 15px;

    transform: translateY(-50%);
}

.accordion-item
{
    margin-bottom: 10px;

    border: 1px solid #e5e5e5;
}

.accordion-header:hover
{
    cursor: pointer;
}

.accordion-content
{
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Roboto', sans-serif;

    display: none;

    color: #999;
}

.accordion-item.active .accordion-content
{
    display: block;
}

.accordion-content p
{
    margin: 15px 20px;
}

.reviews
{
    width: 100%;
    margin: 80px 0 80px 0;

    background-color: #f8f8f8;
}

.reviews-block
{
    position: relative;

    padding: 100px 110px;
}

.reviews-item
{
    position: relative;

    padding-left: 205px;
}

.reviews-photo
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 150px;
    height: 150px;
}

.reviews-photo img
{
    background-position: center;
    background-size: cover;
}

.reviews-text
{
    font-size: 24px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #999999;
}

.reviews-author
{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
}

.reviews-author:before
{
    display: inline-block;

    width: 60px;
    height: 3px;
    margin-right: 10px;

    content: '';
    vertical-align: middle;

    background-color: #f38181;
}

.rev-btn
{
    font-size: 0;

    position: absolute;
    z-index: 1;
    top: 50%;

    transform: translateY(50%);

    color: transparent;
}

.rev-btn:after
{
    display: block;

    width: 16px;
    height: 16px;

    content: '';

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

.rev-btn-prev
{
    left: 0;

    transform: rotate(-45deg);
}

.rev-btn-next
{
    right: 0;

    transform: rotate(135deg);
}

/* OUR TEAM */
.social
{
    display: flex;

    justify-content: center;
}

.social-items
{
    width: 55px;
    height: 55px;
    padding: 10px;

    transition: fill .1s linear, background-color .1s linear;

    border-right: 1px solid #f38181;
    background-color: #fce38a;
}


.social-items:hover
{
    background-color: #f38181;
}

.social-items:hover svg
{
    fill: #f8f8f8;
}

.social-items:last-child
{
    border-right: none;
}

.social-items svg
{
    vertical-align: middle;

    fill: #f38181;
}

.team-description
{
    display: flex;

    margin-top: 20px;

    justify-content: space-around;
}

.team-des-item
{
    text-align: center;
}

.team-des-item p
{
    color: #a6a6a6;
    font-family: 'Roboto', sans-serif;
    font-size: italic;
}

.team-des-item b
{
    text-transform: uppercase;
}

/*OUR WORK*/
.photo-border img
{
    border-radius: 50%;
}
.works
{
    display: flex;

    flex-wrap: wrap;
}
.works-col
{
    flex: 1 1 0;
}
.works-item
{
    position: relative;

    background: linear-gradient(to bottom, #f38181, #fce38a);
}
.works-item img
{
    width: 100%;
    max-width: 25vw;
}
.works-image
{
    display: block;

    transition: opacity .2s linear;
}
.works-item:hover .works-image
{
    opacity: .1;
}
.works-item:hover .works-info
{
    opacity: 1;
}
.works-info
{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;

    width: 100%;

    transition: opacity .1s linear;
    transform: translateY(-50%);
    text-align: center;
    text-transform: uppercase;

    opacity: 0;
    color: #fff;
}


.works-subtext
{
    font-style: italic;

    text-transform: none;
}
/*HAP{Y CLIENTS*/
.clients-header
{
    margin-bottom: 100px;
    padding-top: 100px;
}
.section-clients
{
    width: 100%;
    height: 100vh;
    min-height: 800px;

    background: url('../images/Background-4.jpg') center no-repeat;
    background-size: cover;
}

.clients-item
{
    position: relative;

    width: 40%;
    margin-bottom: 60px;
    padding-left: 150px;
}

.clients
{
    display: flex;

    margin-top: 30px;

    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

.clients-name
{
    font-size: 14px;
    font-weight: 600;

    text-transform: uppercase;

    color: #333;
}

.clients-item img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.clients-prof
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;

    position: relative;

    color: #646464;
}
.clients-prof:after
{
    display: block;

    width: 60px;
    height: 3px;
    margin-top: 20px;

    content: '';

    background-color: #f38181;
}
.clients-text
{
    font-family: 'Roboto', sans-serif;
    line-height: 24px;

    color: #999;
}
/*BLOG*/
.blog
{
    display: flex;

    justify-content: space-between;
}

.blog img
{
    text-align: center;
}
.blog-item
{
    width: 380px;

    color: #999;
}
.blog-name
{
    font-weight: 500;

    text-transform: uppercase;

    color: black;
}
.blog-text
{
    font-family: 'Roboto', sans-serif;
}
.blog-numbers
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;

    position: relative;

    margin-right: 10px;
    padding-left: 25px;
}
hr
{
    margin: 15px 0;
}
.blog-image
{
    position: relative;
}
.blog-data
{
    line-height: 1;

    position: absolute;
    bottom: 20px;
    left: -10px;

    width: 60px;
    height: 70px;
    padding: 15px;

    text-align: center;

    color: white;
    background-color: #95e1d3;
}
.blog-data span
{
    font-family: 'Roboto', sans-serif;
    font-style: italic;

    display: block;
}
.blog-data b
{
    font-size: 25px;
}
.fa-eye,
.fa-comment-dots
{
    position: absolute;
    top: 0;
    left: 0;

    color: #95e1d3;
}
/*MAP*/
.section-map
{
    background: url('../images/Background-5.png') center no-repeat;
    background-size: cover;
}
.map-title
{
    padding: 50px 0;

    text-align: center;
    vertical-align: middle;

}

.map-link
{
    font-size: 24px;
    font-weight: bold;

    display: block;

    text-decoration: none;
    text-transform: uppercase;

    color: #f38181;
    transition: font-size .2s linear;
}
.map-link:hover {
    font-size: 28px; 
}

.map-link i
{
    display: block;

    margin-bottom: 5px;
    
}
.map-link::after
{
    display: block;

    width: 60px;
    height: 3px;
    margin: 10px auto 0 auto;

    content: '';

    background-color: #f38181;
    transition: width .5s linear;
}
/*FOOTER*/
.footer-inner {
    display: flex;
    justify-content: space-between;
}
.footer-col-1 {
    width: 40%;
}
.footer-col-2 {
    width: 25%;
}
.footer-col-3 {
    width: 30%;
}

.footer-logo {
    color: #cccccc;
    font-size: 46px;
    font-weight: bold;
}
.footer-text {
    font-family: 'Roboto', sans-serif;
    color: #cccccc;
    margin: 25px 0 25px 0;
    color: 
}
.footer-social {
    margin-bottom: 40px;
    font-family: 'Roboto',sans-serif;
    font-style: italic;
    color: #cccccc; 
    font-weight: 300;
}

.footer-social i 
{
    font-size: 16px;
    color: #95e1d3;
    margin-left: 10px;
    vertical-align: middle;
    
}
/*SUBSCRIBE*/
.subscribe 
{
    width: 100%;
    max-width: 380px;
    display: flex;
}

.subscribe-input 
{
    border: 1px solid #cccccc;
    border-right: 0;
    padding: 15px 10px;
    

    color: black;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    height: 40px;
    line-height: 1.1;
    width: 60%;
    transition: border .1s linear;
}
.subscribe-btn 
{
    background-color: #95e1d3;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    padding: 12px 30px;
    line-height: 1.1;
    width: 40%;
     
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    cursor: pointer;
    transition: background-color .1s linear;
}
.subscribe-btn:hover 
{
    background-color: #6aa399;
    border-width: 700;
}
.subscribe-input:hover {
 border-color: #95e1d3;   
}
.subscribe-input:focus {
    outline: 0;
    border-color: #95e1d3; 
    border-width: 3px;
}
input::-moz-placeholder 
{ 
    color: #cccccc;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
}
input::-webkit-input-placeholder 
{ 
    color: #cccccc;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300; }
/*FOOTER-BLOG*/
.footer-col-title
{
    font-size: 14px;

    text-transform: uppercase;
}

.footer-blog-item {
    display: flex;
    width: 100%;
    margin:30px 0;
}
.footer-item-text {
    padding-left: 20px;
    font-size: 13px;
}
.footer-item-text a {
    color: black;
    text-decoration: none;
    display: block; 
    transition: color .1s linear;
}
.footer-item-text a:hover {
    color: #95e1d3;
}
.footer-item-text span {
    color: #cccccc;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}
/*INSTAGRAM*/
.footer-inst-img {
    margin: 25px 0 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 265px;
    height: 265px;
}
.footer-inst-img img {
    height: auto;
    width: 100%;
    max-width: 87px;
}
.footer-inst-description a{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-style: italic;
    color: #cccccc;
    text-decoration: none;
    transition: color .1s linear;
}
.footer-inst-description a:hover {
    color: #95e1d3;
}
/* COYWRITE*/
.copywrite
{
    width: 100%;
    height: 60px;
    margin-top: 70px;

    text-align: center;

    border-top: 1px solid #e5e5e5;
}

.copywrite span
{
    color: #f49090;
}

.brands
{
    display: flex;

    height: 250px;

    justify-content: space-between;
    align-items: center;
}
