body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  margin: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}
section, footer {
  margin-top: 80px;
}

/* HEADER */
.header {
  width: 100%;
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 30px;
}

.header-logo {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NAV */
nav {
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 550px;
}

.link-text {
  vertical-align: top;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  transition: color .1s linear, fill .1s linear;
  fill: #ffffff;

}

.link-text:hover {
  color: #fce38a;
  fill: #fce38a;
}

.link-text:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fce38a;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 1;
  height: 3px;
  opacity: 0;
  transition: opacity .1s linear;
}

.link-text:hover:after {
  opacity: 1;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* INTRO */
.intro {
  width: 100%;
  height: 100vh;
  background: url("../images/Background-intro.jpg") center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-title {
  font-size: 8vw;
  line-height: 140px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}

.intro-title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #ffffff;
  margin: 5vh auto 5vh auto;
}

.intro-inner {
  width: 100%;
  max-width: 880px;
  margin: 50px auto 50px auto;
  text-align: center;
  vertical-align: top;
}

.intro-suptitle {
  font-size: 5vw;
  font-family: 'Kaushan Script', cursive;
  color: #ffffff;
  font-weight: 400;
  margin-top: 80px;
}

/* BUTTON */
.btn {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 60px;
  border: 3px solid #ffffff;
  padding: 13px 30px;
  text-transform: uppercase;
  font-size: 1.3vw;
  transition: background .1s linear, color .1s linear;
}

.btn:hover {
  background-color: #ffffff;
  color: #000000;
}

/* SLIDER */
.slider {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.slider-inner {
  display: flex;
  justify-content: space-between;
}

.slider-item {
  width: 22%;
  color: #ffffff;
  border-top: 3px solid #ffffff;
  padding-top: 15px;
  transition: color .1s linear, border .1s linear;
  opacity: 0.7;
  position: relative;
  font-size: 1.2vw;
  margin-bottom: 10px;
}

.slider-item.active:before {
  background-color: #f38181;
  height: 3px;
  width: 30%;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: -3px;
  left: 0;
}

.slider-item:hover {
  cursor: pointer;
  color: #f38181;
  border-top: 3px solid #f38181;
}

.slider-item b {
  margin-right: 3px;
  font-size: 1.4vw;
}

/* SECTION HEADER */
.story {
  margin-bottom: 110px;
}
.section-header {
  text-align: center;
  width: 85%;
  margin: 0 auto 40px auto;
}

.section-header h3 {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;

}

.section-header h2 {
  font-size: 30px;
  text-transform: uppercase;
}

.section-header p {
  color: #999999;
}

.section-header h2:after {
  content: "";
  display: block;
  background-color: #f38181;
  width: 60px;
  height: 3px;
  margin: 40px auto;
}

/* ABOUT */
.about-item {
  background-color: #95e1d3;
  position: relative;
  margin-top: 80px
}

.about {
  display: flex;
  justify-content: space-between;

}

.about-img img {
  transition: opacity .2s linear;
  display: block;
}

.about-item:hover .about-img img {
  opacity: .1;
}

.about-item:hover .about-img {
  transform: translate3d(-10px, -10px, 0);
}

.about-img {
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: transform .2s linear;
}

/* хз как он это сделал */
.about-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  position: absolute;
  z-index: 2;
  opacity: 0;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50, 0);
  width: 100%;
  transition: opacity .1s linear;
  color: #ffffff;
}

.about-item:hover .about-text {
  opacity: 1;
}

/* STAT */
.stat {
  background-color: #95e1d3;
  width: 100%;
}
.stat-list {
  display: flex;
}
.stat-item {
  flex: 1 1 0;
  border-left: 1px solid #b5eae0;
  text-align: center;
  color: #e5e5e5;
}
.stat-item:last-child {
  border-right: 1px solid #b5eae0;
}
.stat-info {
  margin: 12vh 0;
  text-transform: uppercase;
}
.stat-info b {
  font-size: 72px;
}
/* AMAZING SERVICES */
.services{
  display: flex;
  justify-content: space-around;
}

.service-content {
  width: 30%;
  height: 100px;

  color: #b3b3b3;
  padding-left: 55px;
  position: relative;
}
.service-content svg {
  position: absolute;
  left: 0;
  top: 5px;
}
.service-content b {
  margin-bottom: 15px;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin: 50px 0;
}
/* UNIQUE DESIGN */
.intro-design {
  width: 100%;
  height: 100vh;
  background: url("../images/Background-2.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}
.design-header {
  padding-top: 40px;
}
.smartphone {
  position: absolute;
  left: 56%;
  top: 43%;
}
/* WE_DO */
.we-do {
  display: flex;
}
.we-do-item {
  width: 50%;
}
.accordion-header {
    border-bottom: 1px solid transparent;
    position: relative;
}
.accordion-item.active .accordion-header {
    border-bottom: 1px solid #e5e5e5;
}
.accordion-header p{
  display: inline-block;
  padding-left: 60px;
  font-size: 14px;
  text-transform: uppercase;
}
/* КРУТАЯ ФИЧА, СТРЕЛКА С ПОМОЩЬЮ BORDER */
.accordion-header:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;
  transform: translateY(-50%) rotate(135deg);
  margin-bottom: 5px;
}
.accordion-item.active .accordion-header:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}
.accordion-header svg {
  position: absolute;
  z-index: 1;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.accordion-item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
.accordion-header:hover {
  cursor: pointer;
}
.accordion-content {
  font-size: 15px;
  color: #999999;
  font-style: italic;
  font-weight: 300;
  display: none;
}
.accordion-item.active .accordion-content{
  display: block;
}
.accordion-content p {
  margin: 15px 20px;
}

/* COPYWRITE */
.copywrite {
  border-top: 1px solid #e5e5e5;
  width: 100%;
  height: 60px;
  text-align: center;
}
.copywrite span {
  color: #f49090;
}
/* @MEDIA */
/* @media screen and (max-width: 400px) {
  .intro-title {
    font-size: 8vh;
  }
  .intro-suptitle {
    font-size: 5vh;
  }
  .btn {
    font-size: 1.4vh;
  }
  .about {
    flex-wrap: wrap;
  }
  .slider-item {
    font-size: 1.6vh;
  }
  .slider-item b {
    font-size: 1.8vh;
  }
  .stat-info {
    font-size: 1.6vh;
  }
  .stat-info b {
    font-size: 6vh;
  }

} */
